＊{
    box-sizing: border-box;
    
}

@media(max-width: 1080px){

.MainPage{
    padding-top: 60px;
}
    
.FirstView-MainImage-sp{
    display: none;
}    

.HeaderNavi-hamburger{
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
    z-index: 100;    
}

.HeaderNavi-hamburger-line:first-child{
    top: 0;
}

.HeaderNavi-hamburger-line{
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    height: 3px;
    background-color: #333;
    transform: translate(0,-50%);
    border-radius: 10px;
    transition: top .2s,transform .2s,opacity .3s;
    
}

.HeaderNavi-hamburger-line:last-child{
    top: 100%;
}

.HeaderNavi-list{
    overflow-y: scroll;
    position: fixed;
    left: 100%;
    display: block;
}
    
}@media(max-width: 1024px){

.About-contain{
    flex-direction: column;
}

.About-video{
    width: 75%;
}

.About-title{
    width: 75%;
}

}


@media(max-width: 767px){

.Header{
    padding: 15px 0;
}    

.HeaderContain{
    max-width: 100%;
    margin: 0 20px;   
}

.HeaderLogo-image-pc{
    display: none;
    height: 20px;
    width: auto;
}

.HeaderLogo-image-sp{
    display: block;
    height: 20px;
    width: auto;
}

.MainPage{
    padding-top: 50px;
}

.FirstView{
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
}

.FirstView-MainImage-sp{
    display: block;
    width: 100%;
}

.FirstView-container{
    margin-top: -45vw;    
    padding-left: 20px;
    padding-right: 20px;
}

.FirstView-content{
    margin-bottom: 20px;
    width: 100%;    
    text-align: center;
}

.FirstView-content-title{
    margin-bottom: 20px;
    width: 100%;      
    font-size: 25px;
    line-height: 36px;
}

.FirstView-content-images{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;    
}

.FirstView-content-images img{
    width: 25%;
}

.FirstView-content-images img:nth-of-type(2) {
    width: 40%;
}

.FirstView-content-buttons a{
    margin-bottom: 20px;
    width: 100%;    
}

.FirstView-content-buttons a:last-of-type{
    display: none;
}

.AboutWrapper{
    padding: 30px 0;
}

.About-contain{
    flex-direction: column;
}

.About-video{
    width: 100%;
}

.About-explain{
    width: 100%;
}

}